# Compiled class files
*.class
bin/

# Eclipse files
.settings/
.classpath
.project

# IntelliJ IDEA files
.idea/
*.iml

# NetBeans files
nbproject/

# Package Files
*.jar
*.war
*.ear

# Virtual machine crash logs
hs_err_pid*

# MacOS
.DS_Store

# Windows
Thumbs.db
